@rendermode InteractiveServer
@using Cafeteria.Management.Components.Shared

@if (ViewModel?.IsVisible ?? false)
{
    <Toast Message="@ViewModel.ToastMessage"
        Type="@ViewModel.ToastType"
        IsVisible="@ViewModel.ShowToast"
        OnClose="@(() => ViewModel.ShowToast = false)" />

    <div class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@(ViewModel.IsEditing ? "Edit Station" : "Create Station")</h5>
                    <button type="button" class="btn-close" @onclick="HandleClose" aria-label="Close"></button>
                </div>
                <EditForm Model="@ViewModel.CurrentStation" OnValidSubmit="HandleSave">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Station Name:</label>
                            <InputText class="form-control" @bind-Value="ViewModel.CurrentStation.StationName" />
                            <ValidationMessage For="@(() => ViewModel.CurrentStation.StationName)" />
                        </div>
                        <div class="form-group">
                            <label>Location:</label>
                            <InputSelect @bind-Value="ViewModel.CurrentStation.LocationId" class="form-control">
                                <option value="0">-- Select a Location --</option>
                                @foreach (var location in ViewModel.Locations)
                                {
                                    <option value="@location.Id">@location.LocationName</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => ViewModel.CurrentStation.LocationId)" />
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            <InputTextArea class="form-control" @bind-Value="ViewModel.CurrentStation.StationDescription" />
                            <ValidationMessage For="@(() => ViewModel.CurrentStation.StationDescription)" />
                        </div>
                        <div class="form-group mt-3">
                            <label>Icon:</label>
                            <IconPicker @bind-Value="ViewModel.CurrentStation.IconName" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="HandleClose">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}
