@rendermode InteractiveServer
@using Cafeteria.Management.Components.Shared

@if (ViewModel?.IsVisible ?? false)
{
    <Toast Message="@ViewModel.ToastMessage"
        Type="@ViewModel.ToastType"
        IsVisible="@ViewModel.ShowToast"
        OnClose="@(() => ViewModel.ShowToast = false)" />

    <div class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@(ViewModel.IsEditing ? "Edit Location" : "Create Location")</h5>
                    <button type="button" class="btn-close" @onclick="HandleClose" aria-label="Close"></button>
                </div>
                <EditForm Model="@ViewModel.CurrentLocation" OnValidSubmit="HandleSave">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Location Name:</label>
                            <InputText class="form-control" @bind-Value="ViewModel.CurrentLocation.LocationName" />
                            <ValidationMessage For="@(() => ViewModel.CurrentLocation.LocationName)" />
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            <InputTextArea class="form-control" @bind-Value="ViewModel.CurrentLocation.LocationDescription" />
                            <ValidationMessage For="@(() => ViewModel.CurrentLocation.LocationDescription)" />
                        </div>
                        <div class="form-group">
                            <label>Printer URL:</label>
                            <InputText class="form-control" @bind-Value="ViewModel.CurrentLocation.PrinterUrl" />
                            <ValidationMessage For="@(() => ViewModel.CurrentLocation.PrinterUrl)" />
                        </div>
                        <div class="form-group mt-3">
                            <label>Icon:</label>
                            <IconPicker @bind-Value="ViewModel.CurrentLocation.IconId" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="HandleClose">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}
