@rendermode InteractiveServer
@using Cafeteria.Management.Components.Shared

@if (ViewModel?.IsVisible ?? false)
{
    <Toast Message="@ViewModel.ToastMessage" 
        Type="@ViewModel.ToastType" 
        IsVisible="@ViewModel.ShowToast" 
        OnClose="@(() => ViewModel.ShowToast = false)" />

    <div class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@(ViewModel.IsEditing ? "Edit Drink" : "Create Drink")</h5>
                    <button type="button" class="close" @onclick="HandleClose">
                        <span>&times;</span>
                    </button>
                </div>
                <EditForm Model="@ViewModel.CurrentDrink" OnValidSubmit="HandleSave">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Drink Name:</label>
                            <InputText class="form-control" @bind-Value="ViewModel.CurrentDrink.DrinkName" />
                            <ValidationMessage For="@(() => ViewModel.CurrentDrink.DrinkName)" />
                        </div>
                        <div class="form-group">
                            <label>Item Type:</label>
                            <div class="btn-group w-100" role="group">
                                <input type="radio" class="btn-check" name="itemType" id="itemType1" value="both" 
                                    checked="@(!ViewModel.CurrentDrink.CardOnly && !ViewModel.CurrentDrink.SwipeOnly)" 
                                    @onchange="@((ChangeEventArgs e) => SetItemType(ViewModel.CurrentDrink, e.Value?.ToString() ?? "both"))" />
                                <label class="btn btn-outline-primary" for="itemType1">Both</label>
                                
                                <input type="radio" class="btn-check" name="itemType" id="itemType2" value="cardonly" 
                                    checked="@(ViewModel.CurrentDrink.CardOnly && !ViewModel.CurrentDrink.SwipeOnly)" 
                                    @onchange="@((ChangeEventArgs e) => SetItemType(ViewModel.CurrentDrink, e.Value?.ToString() ?? "both"))" />
                                <label class="btn btn-outline-primary" for="itemType2">Card Only</label>
                                
                                <input type="radio" class="btn-check" name="itemType" id="itemType3" value="swipeonly" 
                                    checked="@(ViewModel.CurrentDrink.SwipeOnly && !ViewModel.CurrentDrink.CardOnly)" 
                                    @onchange="@((ChangeEventArgs e) => SetItemType(ViewModel.CurrentDrink, e.Value?.ToString() ?? "both"))" />
                                <label class="btn btn-outline-primary" for="itemType3">Swipe Only</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Location:</label>
                            <InputSelect @bind-Value="ViewModel.CurrentDrink.LocationId" class="form-control">
                                <option value="0">-- Select a Location --</option>
                                @foreach (var location in ViewModel.Locations)
                                {
                                    <option value="@location.Id">@location.LocationName</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => ViewModel.CurrentDrink.LocationId)" />
                        </div>
                        <div class="form-group">
                            <label>Price:</label>
                            <InputNumber class="form-control" @bind-Value="ViewModel.CurrentDrink.DrinkPrice" step="0.01" />
                            <ValidationMessage For="@(() => ViewModel.CurrentDrink.DrinkPrice)" />
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            <InputTextArea class="form-control" @bind-Value="ViewModel.CurrentDrink.DrinkDescription" />
                            <ValidationMessage For="@(() => ViewModel.CurrentDrink.DrinkDescription)" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="HandleClose">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}