@rendermode InteractiveServer
@using Cafeteria.Management.Components.Shared

@if (ViewModel?.IsVisible ?? false)
{
    <Toast Message="@ViewModel.ToastMessage" 
        Type="@ViewModel.ToastType" 
        IsVisible="@ViewModel.ShowToast" 
        OnClose="@(() => ViewModel.ShowToast = false)" />

    <div class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@(ViewModel.IsEditing ? "Edit Entree" : "Create Entree")</h5>
                    <button type="button" class="close" @onclick="HandleClose">
                        <span>&times;</span>
                    </button>
                </div>
                <EditForm Model="@ViewModel.CurrentEntree" OnValidSubmit="HandleSave">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Entree Name:</label>
                            <InputText class="form-control" @bind-Value="ViewModel.CurrentEntree.EntreeName" />
                            <ValidationMessage For="@(() => ViewModel.CurrentEntree.EntreeName)" />
                        </div>
                        <div class="form-group">
                            <label>Station:</label>
                            <InputSelect @bind-Value="ViewModel.CurrentEntree.StationId" class="form-control">
                                <option value="0">-- Select a Station --</option>
                                @foreach (var station in ViewModel.Stations)
                                {
                                    <option value="@station.Id">@station.StationName</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => ViewModel.CurrentEntree.StationId)" />
                        </div>
                        <div class="form-group">
                            <label>Price:</label>
                            <InputNumber class="form-control" @bind-Value="ViewModel.CurrentEntree.EntreePrice" step="0.01" />
                            <ValidationMessage For="@(() => ViewModel.CurrentEntree.EntreePrice)" />
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            <InputTextArea class="form-control" @bind-Value="ViewModel.CurrentEntree.EntreeDescription" />
                            <ValidationMessage For="@(() => ViewModel.CurrentEntree.EntreeDescription)" />
                        </div>
                        <div class="form-group">
                            <label>Image URL:</label>
                            <InputText class="form-control" @bind-Value="ViewModel.CurrentEntree.ImageUrl" />
                            <ValidationMessage For="@(() => ViewModel.CurrentEntree.ImageUrl)" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="HandleClose">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}
